<!--inicion de Nav bar-->
<mat-toolbar color="primary">
    <!--Llamada a menu-->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <!--Fin de la Llamada a menu-->
    <span>Notificaciones</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <!--Fin de nav bar-->
  <!--Button de menu-->
  <mat-menu #menu="matMenu">
    <div class="d-flex justify-content-center">
      <span class="material-icons user_circle_tam">
        account_circle
      </span>
      <!--<mat-icon class="user_circle_tam" >account_circle</mat-icon>-->
    </div>
    <div class="d-flex justify-content-center">
      <!--<p>Juan Quispe Pablo</p>-->
      <p>{{user.usuario}}</p>
    </div>
    <button mat-menu-item routerLink="/panel_notificaciones" routerLinkActive="activebutton">
      <mat-icon>notifications</mat-icon>
      <span>Notificaciones</span>
    </button>
    <button mat-menu-item routerLink="/panel_notificaciones_vistas" routerLinkActive="activebutton">
      <mat-icon>notifications_off</mat-icon>
      <span>Notificacniones vistas</span>
    </button>
    <button mat-menu-item (click)="actualizar()">
      <mat-icon>update</mat-icon>
      <span>Actualizar</span>
    </button>
    <button mat-menu-item (click)="salir()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
    
  
  
  </mat-menu>
  <!--Fin de Button de Meniu-->
  