.example-spacer {
    flex: 1 1 auto;
  }
  .user_circle_tam{
    font-size: calc(5rem + 5vw);
  }
  .activebutton {
    box-shadow: inset 0px 1px 0px 0px #dcecfb;
    background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    background-color: #bddbfa;
    border-radius: 20px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 1px 0px #528ecc;
    outline: 0;
  }
  