<app-menu-notificaciones></app-menu-notificaciones>
<cdk-virtual-scroll-viewport class="block-list-num" itemSize="50" >
    <div class="block-num" *cdkVirtualFor="let n of allNotificaciones" >
        <div class="d-flex button" routerLink="/panel_informativo/{{ n.id_noti }}">
          <div class="p-2 icono_doc"><i class="fa fa-solid fa-file" ></i></div>
          <div class="p-2">{{n.n_title}}</div>
          <div class="ms-auto p-2">{{n.n_fecha_limite}} <span class="material-icons icono_normal">
            done_all
            </span></div>
        </div>
    </div>
</cdk-virtual-scroll-viewport>
