.block-list-num{
    display: flex;
    height: 92%;
    justify-content: center;
    align-items: center;
    background-color:  #ccffff;
  }
  
  
  ////////////////////////
  .button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom,  #0088cc 5%, #b3e6ff 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: calc(0.5rem + 1vw);
    font-weight: bold;
    //padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    outline: 0;
  }
  
  .icono_normal{
    color: #00ff00;
    font-size: calc(1rem + 1vw);
  }
  .icono_doc{
    color: #000;
    font-size: calc(1rem + 2vw);
  }
  