<div class="ing-fonto">
    <div class="card bg-dark text-white card-color">
      <div class="card-img-overlay">
        <h3 class="card-title">{{notificacion.n_title}}</h3>
        <p class="card-text text_notificacion">{{notificacion.n_notificacion}}</p>
        <p class="card-text text_fechas">Fecha limite:{{notificacion.n_fecha_limite}}</p>
        <p class="card-text text_fechas">Fecha cracion:{{notificacion.n_fecha_creacion}}</p>
        <p class="card-text text_importante">Docuemto es urgente {{notificacion.n_urgente}}</p>
      </div>
    </div>
  </div>