.card-title{
    text-align: center;
    font-size: calc(1rem + 1vw);
    font-weight: bold;
}
.ing-fonto { 
    height: 100%;
    background-position: center center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    //background: url('https://i.pinimg.com/originals/42/cc/5b/42cc5b941b712b9df2cf78c673b77d77.jpg') no-repeat center center fixed;
    background: url('https://blog.1a23.com/wp-content/uploads/sites/2/2020/02/pattern-26.svg') no-repeat center center fixed;
    //background-size: 100% 100%;
    background-size: cover;
    background-color: #1f4a6e;
    opacity:0.8;
    filter:alpha(opacity=80);
}
.text_notificacion{
    font-size: calc(0.8rem + 0.8vw);
}
.text_fechas{
    font-size: calc(0.5rem + 0.5vw);
}
.text_importante{
    text-align: center;
    font-size: calc(0.6rem + 1vw);
    font-weight: bold;
}