<body class="text-center">
    <div class="form-signin bg-light">
        <form [formGroup]="formularioLogin" (ngSubmit)="logIn()">
          <!--<img class="mb-4" src="https://www.dropbox.com/s/zgbbayj1iqd9fjf/CF_Mark.jpg?raw=1" alt="" width="72">-->
            <span class="material-icons icono_sise_login">
              account_circle
            </span>
            <h1 class="h3 mb-3 fw-normal">LOGIN</h1>
  
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="usuario">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                <label for="floatingPassword">Password</label>
            </div>
  
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Recordar
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-dark" type="submit">ENTRAR</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2022–2022</p>
        </form>
    </div>
  </body>
  
  <span class="material-icons">
  
  </span>